<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="#{dashboard.connection}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AzureWebJobsStorage" connectionString="#{storage.connection}#" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />    
  </connectionStrings>
  <appSettings>
    <add key="ApimSubscriptionKey" value="#{ApimSubscriptionKey}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApimUrl" value="#{FullHost}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
    <add key="AzureSbNamespace" value="#{azureSb.namespace}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AzureSbSharedAccessKey" value="#{azureSb.PrintMessaging.accessKey}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="#{FullHost}#/personal/commonLogService" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingHttpsCommonLog" behaviorConfiguration="BasicAuthBehavior" contract="CommonLogService.ILogService" name="LogServiceEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BasicAuthBehavior">
          <messageHeaderBehaviorExtensionElement key="Ocp-Apim-Subscription-Key" value="#{ApimSubscriptionKey}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>