<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- defaultPushSource key works like the 'defaultPushSource' key of NuGet.Config files. -->
  <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org. -->
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>

  <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
  <!-- Sources cannot be modified or deleted either but can be enabled/disabled by users. -->
  <!-- Works like the 'disabledPackageSources' section of NuGet.Config files. -->
  <packageSources>
    <add key="WBMI-Packages" value="https://wbmi.pkgs.visualstudio.com/_packaging/WBMI-Packages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <!--add key="wbmi.NuGetServer" value="https://wbmi-nugetserver.azurewebsites.net/nuget/" />-->
    <add key="wbmi.NuGetServer-dev" value="https://wbmi-nugetserver-dev.azurewebsites.net/nuget/" />
  </packageSources>

  <!-- Disables the versioning of all items in the packages folder -->
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>

</configuration>